@charset "UTF-8";
.font-gothic {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Segoe UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.font-mincho {
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "游明朝体", "Yu Mincho", YuMincho, "游明朝", Georgia, "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.cf {
  zoom: 1;
}
.cf:before {
  content: "";
  display: block;
  overflow: hidden;
}
.cf:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
}

.hide-pc {
  display: none;
}
@media screen and (max-width: 767px) {
  .hide-pc {
    display: initial;
  }
}
@media screen and (min-width: 768px) and (max-width: 1040px) {
  .hide-pc {
    display: initial;
  }
}

@media (max-width: 767px) {
  .hide-sp {
    display: none;
  }
}
.flex_list:not(:last-chid) {
  margin-bottom: 10px;
}

.box-orange, .box-blue {
  border: 1px solid #E89212;
  padding: 15px 10px;
}

.box-orange {
  border-color: #272727;
}

.box-blue {
  border-color: #272727;
}
@media screen and (max-width: 767px) {
  .box-blue {
    border-color: #000;
  }
}

.container {
  width: 1200px;
  margin: 40px auto 0;
}
@media screen and (max-width: 767px) {
  .container {
    width: 95%;
    margin: 30px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1040px) {
  .container {
    width: 93%;
    margin: 50px auto;
  }
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

html {
  font-size: 6.25%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, "Segoe UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.6;
  color: #272727;
  font-size: 15rem;
  margin: 0;
}

img {
  width: 100%;
  image-rendering: crisp-edges;
}

ul, li {
  list-style: none;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

p, b {
  text-align: inherit;
  line-height: 2;
}

b {
  font-weight: normal;
  color: #E89212;
  margin: 20px auto;
  display: block;
}

p {
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: 16rem;
  line-height: 1.6;
}

span {
  font-size: 13rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-size: 36rem;
  color: #E89212;
}

h2 {
  font-size: 3rem;
  color: #E89212;
  font-weight: bold;
}

h3 {
  font-size: 26rem;
  color: #E89212;
}

.section__title {
  color: #333;
  font-size: 25rem;
  font-weight: 700;
  text-align: center;
  padding: 100px 0 30px;
}

.section__subtitle {
  font-size: 26rem;
  font-weight: 300;
  color: #595959;
}

.section__read {
  font-size: 14rem;
}

.title_b {
  margin-bottom: 30px;
}

.section {
  padding: 0;
}
.demo__in{
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
}
.demo__in p{
  line-height: 1.9;
  /* font-size: 200px; */
}
.title_b {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #333;
}
a:hover, a:active {
  color: #333;
}

.btn__area {
  width: 400px;
  margin: 0 auto 30px;
}
@media screen and (max-width: 767px) {
  .btn__area {
    width: 95%;
  }
}

.btn {
  display: inline;
}
.btn a {
  display: inline-block;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  color: #fff;
  background: #636363;
  border: 1px solid #636363;
  border-radius: 5px;
  transition: 0.3s;
  margin: 10px auto;
}
.btn a:hover {
  background: #fff;
  border: 1px solid #636363;
  color: #333333;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form {
  cursor: pointer;
}
form #number {
  width: 100px;
  font-size: 2rem;
  padding: 10px 15px;
}
form #addbtn {
  width: 200px;
  height: 60px;
  background: #E89212;
  color: #272727;
  border: 0;
  font-size: 16rem;
  margin-left: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
form #addbtn:before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "";
}
form #search {
  height: auto;
  background: #E89212;
  color: #272727;
  border: 0;
  font-size: 28rem;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
}

header {
  height: 100px;
}
@media screen and (max-width: 767px) {
  header {
    height: 55px;
  }
}
header .header_con {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .header_con .header_logo {
  width: 10%;
}
@media screen and (max-width: 767px) {
  header .header_con .header_logo {
    width: 20%;
  }
}
header .header_con .navi {
  width: 60%;
}
@media screen and (max-width: 767px) {
  header .header_con .navi {
    width: 30%;
    margin-top: 13px;
  }
}
header .header_con .navi .header_tel {
  font-size: 30rem;
  font-weight: 700;
  text-align: right;
}
header .header_con .navi .header_tel:before {
  content: '';
  display: inline-block;
  background: url("../images/common/free_daial.svg") no-repeat center/contain;
  width: 37px;
  height: 24px;
}
header .header_con .navi .header_tel a {
  color: #E89212;
}
header .header_con .navi .header_tel-sp img {
  width: 33px;
}
header .global-nav {
  margin: 0;
}
@media screen and (max-width: 767px) {
  header .global-nav {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
header .global-nav .nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  header .global-nav .nav-list {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    left: 50%;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 100%;
  }
}
header .global-nav .nav-list .nav-item {
  flex: 1;
  transition: .5s;
}
header .global-nav .nav-list .nav-item span {
  display: inline-block;
  text-align: center;
  font-size: 14rem;
  color: #333;
  display: block;
  text-align: center;
  transition: .5s;
}
header .global-nav .nav-list .nav-item span:before {
  transition: .5s;
}
header .global-nav .nav-list .nav-item:hover > span {
  position: relative;
  transition: .5s;
}
header .global-nav .nav-list .nav-item:hover > span:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 2px;
  border-bottom: 2px solid #272727;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}
header .global-nav .nav-list .nav-item.dropdown > span:after {
  content: '>';
  font-size: 14rem;
  margin-left: 10px;
}
header .global-nav .nav-list .nav-item.dropdown:hover span {
  content: "";
}
@media screen and (max-width: 767px) {
  header .global-nav .nav-list .nav-item > span {
    border-bottom: 1px solid #ccc;
    border-right: none;
    color: #fff;
    padding: 1rem 1rem;
    text-align: left;
  }
}
header .global-nav .nav-list .nav-item:last-child span {
  border-right: none;
}
@media screen and (max-width: 767px) {
  header .global-nav .nav-list .nav-item:last-child span {
    border-bottom: none;
  }
}
header .global-nav .nav-list .nav-item .nav-item_sub {
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  top: 75px;
  transition: all 0.2s ease;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  header .global-nav .nav-list .nav-item .nav-item_sub {
    display: none;
  }
}
header .global-nav .nav-list .nav-item .nav-item_sub a {
  text-align: left;
  transition: .5s;
}
header .global-nav .nav-list .nav-item .nav-item_sub a:hover {
  opacity: .6;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner {
  margin: 0 auto;
  width: 100%;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner ul, header .global-nav .nav-list .nav-item .nav-item_sub .inner .inner__bnr {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner ul {
  margin: 30px auto 20px;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner ul li {
  margin: 10px 20px;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner .inner__bnr .bnr__img {
  border: 2px solid #707070;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  width: 380px;
  text-align: center;
  padding: 25px 0;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner .inner__bnr .bnr__img:nth-child(1) {
  background-image: url("../images/common/dummy_bnr.jpg");
  margin-right: 10px;
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner .inner__bnr .bnr__img:nth-child(2) {
  background-image: url("../images/common/dummy_bnr.jpg");
}
header .global-nav .nav-list .nav-item .nav-item_sub .inner .inner__bnr .bnr__img:last-of-type {
  margin-right: 0;
}
header .global-nav .nav-list .nav-item:hover .nav-item_sub {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  header .nav-list {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
header .global-nav-sp {
  background: #ffffffe0;
  transition: .5s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  top: 0;
  display: none;
  transition: opacity .6s ease, visibility .6s ease;
}
header .global-nav-sp .nav__inner {
  width: 85%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: scroll;
}
header .global-nav-sp .nav__inner .nav-list .nav-item {
  font-size: 16px;
}
header .global-nav-sp .nav__inner .nav-list .nav-item > span, header .global-nav-sp .nav__inner .nav-list .nav-item > a {
  display: block;
  font-size: 16rem;
  padding: 10px 0 10px 5px;
  border-bottom: 1px solid #333;
}
header .global-nav-sp .nav__inner .nav-list .nav-item .nav-item_sub {
  display: none;
  transition: .5s;
  border-bottom: 1px solid #333;
}
header .global-nav-sp .nav__inner .nav-list .nav-item .nav-item_sub .inner ul li a {
  padding: 10px 0 10px 10px;
  display: block;
}
header .global-nav-sp .nav__inner .inner__bnr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .global-nav-sp .nav__inner .inner__bnr .bnr__img {
  width: 48%;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 10px;
}
header .menu-btn {
  display: none;
  display: none;
  position: absolute;
  width: 45px;
  height: 25px;
  top: 15px;
  right: 15px;
  z-index: 30;
}
@media screen and (max-width: 767px) {
  header .menu-btn {
    display: block;
  }
}
header .menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333333;
  border-radius: 4px;
  transition: all 0.4s;
}
header .menu-btn span:nth-of-type(1) {
  top: 0;
}
header .menu-btn span:nth-of-type(2) {
  top: 10px;
}
header .menu-btn span:nth-of-type(3) {
  bottom: 0;
}
header .menu-btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
}
header .menu-btn.active span:nth-of-type(2) {
  left: 100%;
  animation: bar02 0.5s forwards;
}
@keyframes bar02 {
  100% {
    height: 0;
  }
}
header .menu-btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  bottom: -5px;
}

header.header-fix {
  width: 100%;
  height: 75px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 30;
  animation: ani 0.5s;
}
@media screen and (max-width: 767px) {
  header.header-fix {
    background: rgba(255, 255, 255, 0.8);
    height: 55px;
  }
}
header.header-fix .header_tel a {
  font-size: 24rem;
}

@keyframes ani {
  0% {
    margin-top: -64px;
  }
  100% {
    margin-top: 0;
  }
}
footer p {
  color: #272727;
}

#footer {
  width: 100%;
  height: auto;
  background: #919191;
}
#footer .txt {
  color: #fff;
}
#footer .flex {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
#footer ul li a {
  color: #333;
  text-decoration: none;
  content: "＞";
  margin-right: 10px;
}
#footer ul .col-01 {
  margin: 0;
}
#footer ul .col-02 {
  margin-left: 60px;
  margin-top: 0;
  margin-right: 0;
}
#footer ul .copy {
  margin-left: auto;
  margin-bottom: 0;
  margin-top: auto;
}

input {
  font-size: 16rem;
  line-height: 1.8;
  margin-left: 5px;
  margin-right: 10px;
}

input[type="text"] {
  padding: 0 10px 0;
}

.icon_area {
  display: flex;
  align-items: center;
}
.icon_area i {
  margin-right: 10px;
}

.num_area {
  counter-reset: num;
}
.num_area .num_txt {
  padding-left: 1.6em;
  text-indent: -1.6em;
}
.num_area .num_txt:before {
  counter-increment: num;
  content: "(" counter(num) ")";
}

.num_area-alpha {
  counter-reset: alpha;
}
.num_area-alpha .num_txt-alpha {
  padding-left: 1.6em;
  text-indent: -1.6em;
}
.num_area-alpha .num_txt-alpha:before {
  counter-increment: alpha;
  content: "(" counter(alpha,upper-alpha) ")";
}

.num_area-roman {
  counter-reset: roman;
}
.num_area-roman .num_txt-roman {
  padding-left: 1.6em;
  text-indent: -1.6em;
}
.num_area-roman .num_txt-roman:before {
  counter-increment: roman;
  content: counter(roman,upper-roman) ".";
}

.col {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.col.col_2 > * {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .col.col_2 > * {
    width: 100%;
  }
}
.col.col_3 > * {
  width: 33.333%;
}
@media screen and (max-width: 767px) {
  .col.col_3 > * {
    width: 100%;
  }
}
.col.col_4 > * {
  width: 25%;
}
@media screen and (max-width: 767px) {
  .col.col_4 > * {
    width: 50%;
  }
}
.col.col_5 > * {
  width: 20%;
}
.col.col_6 > * {
  width: 16.6666666667%;
}
.col.col_m_s > :first-of-type {
  width: 70%;
}
.col.col_m_s > :last-of-type {
  width: 30%;
}
.col.col_s_m > :first-of-type {
  width: 30%;
}
.col.col_s_m > :last-of-type {
  width: 70%;
}
.col.col_y {
  flex-direction: column;
  justify-content: space-between;
}

.move {
  position: relative;
  transition: all 1s;
  overflow: hidden;
  opacity: 0;
}
.move.move_top {
  top: 100px;
}
.move.move_left {
  left: 100px;
}
.move.move_right {
  right: 100px;
}
.move.move_bottom {
  bottom: 100px;
}
.move.move_on {
  opacity: 1;
}
.move.move_on_top {
  top: 0px;
}
.move.move_on_left {
  left: 0px;
}
.move.move_on_right {
  right: 0px;
}
.move.move_on_bottom {
  bottom: 0px;
}

.marker {
  display: inline-block;
  background-image: -webkit-linear-gradient(left, transparent 50%, #f6e87c 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, #f6e87c 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, #f6e87c 50%);
  background-image: -o-linear-gradient(left, transparent 50%, #f6e87c 50%);
  background-image: linear-gradient(left, transparent 50%, #f6e87c 50%);
  background-repeat: repeat-x;
  background-size: 200% 0.8em;
  background-position: 0 0.5em;
  transition: all 1s ease;
  font-weight: bold;
}

.marker_on {
  background-position: -100% 0.9em;
}

.description {
  font-size: 16rem;
}

table {
  width: 100%;
  margin: 0 auto;
}
table tr:nth-child(odd) {
  background: #cdcdcd;
  color: #fff;
}
table tr:nth-child(odd) td a {
  color: #fff;
}
table th,
table td {
  padding: 10px;
  text-align: center;
}
table th {
  width: 15%;
  background: #858585;
  color: #fff;
}
table td.t_right {
  text-align: right;
}

dl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  dl {
    flex-direction: column;
  }
}
dl dt,
dl dd {
  margin: 0 0 10px 0;
}
dl dt {
  width: 200px;
  margin: 0 0 10px 0;
}
dl dd {
  width: calc(100% - 200px);
}

.item-detail .contaier .row {
  display: flex;
  justify-content: wrap;
  flex-wrap: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .item-detail .contaier .row {
    flex-direction: column;
  }
}
.item-detail .contaier .area-img,
.item-detail .contaier .area-text {
  width: 480px;
}
.item-detail .contaier img {
  border-radius: 10px;
}
.item-detail .contaier .top_slider {
  margin-bottom: 20px;
}
.item-detail .contaier .thumb {
  width: 480px;
}
.item-detail .contaier .thumb .thumb-li {
  width: 29% !important;
  margin: 0 15px;
}
.item-detail .contaier .thumb .thumb-li:first-child {
  margin-left: 0;
}
.item-detail .contaier .thumb .thumb-li:last-child {
  margin-right: 0;
}
.item-detail .contaier .detail {
  display: flex;
  justify-content: wrap;
  flex-wrap: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .item-detail .contaier .detail {
    flex-direction: column;
  }
}
.item-detail .contaier .detail dt {
  width: 100px;
  font-weight: 600;
}
.item-detail .contaier .detail dd {
  width: calc(100% - 100px);
  padding-left: 20px;
  border-left: 1px solid #333;
}
.item-detail .contaier .price {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  font-size: 2rem;
  font-weight: 500;
}
.item-detail .contaier .cart {
  text-align: center;
}
.item-detail .contaier .material hr {
  margin: 30px 0;
}
.item-detail .contaier .material dl {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.item-detail .contaier .material dl .list {
  width: 80px;
  font-weight: 600;
}
.item-detail .contaier .material dl dd {
  width: calc(100% - 100px);
}

#about {
  background-image: url("../images/top/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#about ul {
  list-style: none;
}

#post .article .article__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  #post .article .article__list {
    flex-direction: column;
  }
}
#post .article .article__list .list__item {
  width: 25.83333%;
  margin: 0 0 15px 0;
}
#post .user .user__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  #post .user .user__list {
    flex-direction: row;
  }
}
#post .user .user__list .list__item {
  width: 25%;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 767px) {
  #demo .list .list__block dl {
    overflow-x: hidden;
  }
}
#demo .list .list__block dl > * {
  margin-left: -10px;
  margin-right: -10px;
}
#demo .list .list__block dl > * > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
#demo .list .list__block dl dt .list__item, #demo .list .list__block dl dd .list__item {
  border-bottom: 2px solid #6A481F;
  margin: 0 0 0 10px;
  font-size: 14rem;
  line-height: 1.6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
#demo .list .list__block dl dt .list__item.list__item-title, #demo .list .list__block dl dd .list__item.list__item-title {
  margin: 0 10px 0 0;
  padding-left: 20px;
}
#demo .list .list__block dl dt {
  width: 30%;
}
#demo .list .list__block dl hr {
  background-color: #6A481F;
  border: none;
  color: #6A481F;
  height: 2.5em;
  width: 2px;
  margin: 0 10px 10px;
}
#demo .list .list__block dl dd {
  width: 68%;
}
#demo .bk {
  background-color: #EBE4CC;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#demo .bk .bk__tag {
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 20px 30px;
  clip-path: polygon(100% 0, 480px 50%, 100% 100%, 0 100%, 0 0);
  border: 2px solid #6A481F;
  border-radius: 10px;
}

#form .caution {
  color: #c04b3b;
}

.demo {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .demo {
    width: 100%;
    max-width: 100%;
  }
}

#top .top {
  background: #fee;
  padding: 210px 0;
}
@media screen and (max-width: 767px) {
  #top .top .top__col {
    overflow-x: hidden;
  }
}
#top .top .top__col > * {
  margin-left: -20px;
  margin-right: -20px;
}
#top .top .top__col > * > * {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
#top .top .top__col .top__list .top__item {
  background-color: #fff;
  display: block;
}
#top .top .top__col .top__list .top__item .item__img {
  background-image: url("../images/top/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}
#top .top .top__col .top__list .top__item .item__txt {
  padding: 15px;
}
#top .top .top__col .top__list .top__item .item__txt .item__title {
  font-size: 24rem;
  margin-bottom: 10px;
}
#top .top .top__col .top__list .top__item .item__txt .item__text {
  font-size: 16rem;
}
#top .number__block {
  margin-bottom: 30px;
}
#top .number__block .number__item {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  #top .icon .icon__col {
    overflow-x: hidden;
  }
}
#top .icon .icon__col > * {
  margin-left: -10px;
  margin-right: -10px;
}
#top .icon .icon__col > * > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

#layout .container {
  background: #fff;
}
@media screen and (max-width: 767px) {
  #layout .layout__flex {
    overflow-x: hidden;
  }
}
#layout .layout__flex > * {
  margin-left: -10px;
  margin-right: -10px;
}
#layout .layout__flex > * > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
#layout .layout__flex li div {
  padding: 10px 0;
  background: #E89212;
  text-align: center;
  color: #fff;
}
#layout .contact {
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #layout .contact .btn_col {
    overflow-x: hidden;
  }
}
#layout .contact .btn_col > * {
  margin-left: -10px;
  margin-right: -10px;
}
#layout .contact .btn_col > * > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  #layout .flex_block {
    overflow-x: hidden;
  }
}
#layout .flex_block > * {
  margin-left: -10px;
  margin-right: -10px;
}
#layout .flex_block > * > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
#layout .flex_block li .col__item {
  background: #E89212;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 5px #CCCCCC;
  box-shadow: 0 0 10px 5px #CCCCCC;
}
#layout .asdf__col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#layout .asdf__col li {
  background: #E89212;
  text-align: center;
  color: #fff;
  width: 23%;
}

.icatch {
  width: 285px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  #blog .blog_flex {
    overflow-x: hidden;
  }
}
#blog .blog_flex > * {
  margin-left: -10px;
  margin-right: -10px;
}
#blog .blog_flex > * > * {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
#blog .blog_flex .blog_item__txt_b .blog_item__txt {
  background: #eeeeee;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
